.contactList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  min-width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc((100% - 50px) / 4);
  align-items: center;
  border: 2px solid #212121;
  border-radius: 4px;
  padding: 10px 5px;
}
